@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #0f1012;
$white: #ffffff;
$blue: #b8ddef;

body {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  user-select: none;
  background-color: $white;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  > video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .page-content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    .sub {
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      h1 {
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 8px;
      }
      p {
        font-size: 0.8em;
        letter-spacing: 5px;
      }
      button {
        border: 2px solid $white;
        width: fit-content;
        padding: 0.5rem 1.5rem;
        font-size: 0.9em;
        letter-spacing: 2px;
        transition-duration: 0.3s;
        &:hover {
          background-color: $white;
          color: $black;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

.loader-box {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
}
